@model COVID_19.Models.PersonModel
@{
    ViewBag.Title = "Search";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Simulación", "Simulation", "Hospital")</li>
    <li class="active">Búsqueda Hash</li>
</ul>

<h2>BÚSQUEDA HASH</h2>
<hr />

<div class="row">
    <div class="col-md-5">

        <h4>Instrucciones</h4>
        <p>Ingrese el código del hospital desado seguido por un guión y el número de cama</p>
        <ul>
            <li>Guatemala       <b>GU</b></li>
            <li>Escuintla       <b>ES</b></li>
            <li>Quetzaltenango  <b>QZ</b></li>
            <li>Chiquimula      <b>CQ</b></li>
            <li>Péten           <b>PE</b></li>
        </ul>
        <h4>Ejemplo</h4>
        <div class="form-group">
            <input class="form-control" id="disabledInput" type="text" placeholder="GU-1" disabled="">
        </div>

        <hr />
        <br />
        @using (Html.BeginForm())
        {
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="Hash">Código</label>
                        <input class="form-control" id="Hash" type="text" placeholder="Código" name="Hash">
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        }

    </div>

    <div class="col-md-7">
        <h4>@ViewBag.Result</h4>
        <center>
            <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" height="165">
        </center>
        <br />

        <div class="list-group">
            <a class="list-group-item">
                <h6 class="list-group-item-heading">Nombre</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.Nombre)</p>
            </a>
            <a class="list-group-item">
                <h6 class="list-group-item-heading">Apellido</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.Apellido)</p>
            </a>
            <a class="list-group-item">
                <h6 class="list-group-item-heading">Fecha de nacimiento</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.FechaDeNacimiento)</p>
            </a>
            <a class="list-group-item">
                <h6 class="list-group-item-heading">CUI</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.CUI)</p>
            </a>
            <a class="list-group-item">
                <h6 class="list-group-item-heading">Departamento</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.Departamento)</p>
            </a>
            <a class="list-group-item">
                <h6 class="list-group-item-heading">Municipio</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.Municipio)</p>
            </a>
            <a class="list-group-item">
                <h6 class="list-group-item-heading">Edad</h6>
                <p class="list-group-item-text">@Html.DisplayFor(model => model.Edad)</p>
            </a>
        </div>

    </div>
</div>

   

